.mdc-toolbar__row:first-child::after {
  background-image: url(https://dyn.web.whatsapp.com/pp?t=l&u=558399316562%40c.us&i=1510538922&e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.11540-24%2F22905139_1709704982433843_3425514036656078848_n.jpg%3Foe%3D5A183AAC%26oh%3D64c9ddd73f8797054a284fbb81f910d3);
  background-size: cover;
  background-position: bottom;
}

.mdc-toolbar__title {
  color: black;
}

.mdc-toolbar--flexible-space-minimized .mdc-toolbar__title {
  color: white;
}
