.custom-card-container {
  display: inline-block;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

[mdcCard] {
  background-color: #5b94a2;
  vertical-align: top;
  min-width: 640px;
  max-width: 21.875rem;
  margin: auto;
  margin-top: 5%;
  color: #000000;
}

[mdcTextField]{
  margin: auto;
  display: flex;
  width: 80%;
  margin-top: 2%;
}
[mdcTextFieldHelptext]{
  display: flex;
  margin-right: auto;
  margin-top: 1%;
}

@media(min-width: 768px) {
  [mdcCard] {
    margin-bottom: 24px;
  }
}

[mdcCardMediaItem]{
  margin-bottom: 24px;
}

[mdcToolbarRow]{
  background-color: #212121;
  color: #ffffff;
}

[mdcToolbarIcon]{
  color: #ffffff;
}

[mdcSelect]{
  margin: auto;
  display: flex;
  width: 80%;
  margin-top: 2%;
}

[mdcFab] {
  display: flex;
  float: right;
  margin: auto;

}
